* {
    margin: 0px;
    padding: 0px;
}

#form {
    width: 50%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
    text-align: center;
}

input {
    display: block;
    margin: auto;
    font-size: 20px;
}