/* Navbar related css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#links {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    box-shadow: 2px 2px 5px 5px rgb(235, 235, 235);
}